.example-card {
  max-width: 400px;
  max-height: 300px;
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.title-row{
  width: 100%;
  background-color: rgba(240, 248, 255, 0.897);
  height: 32px;
}
.spacer{
  flex:1 1
}

mat-card-header{
  background-color: rgba(240, 248, 255, 0.649) !important;
}

