

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.title{
  width: 100%;
  text-align: center;
  font-family: 'Righteous', sans-serif;
  font-size: larger;
}

.title-dark{
  color: crimson;
  font-size:x-large;
}
