<div class="filter-toolbar">
  <div class="checkpox-filter-container">

    <div class="checkbox">
      <mat-checkbox color="warn" [(ngModel)]="showWesternEurope" (change)="filterCountries('Western Europe')">
        Western Europe
      </mat-checkbox>
    </div>

    <div class="checkbox">
      <mat-checkbox color="warn" [(ngModel)]="showEasternRegion" (change)="filterCountries('Eastern Europe')">
        Eastern Europe
      </mat-checkbox>
    </div>

    <div class="checkbox">
      <mat-checkbox color="warn" [(ngModel)]="showSouthRegion" (change)="filterCountries('Southern Europe')">
        Southern Europe
      </mat-checkbox>
    </div>
    <div class="checkbox">
      <mat-checkbox color="warn" [(ngModel)]="showNordestRegion" (change)="filterCountries('Northern Europe')">
        Northern Europe
      </mat-checkbox>
    </div>
  </div>
  <span class="example-spacer"></span>

  <div class="button-container">
    <span class="no-mobile">Ordina per: </span>
    <button mat-raised-button color="warn" (click)="toggleSortOrder('name')">Ordina per Nome <mat-icon>{{ascending ?
        'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon></button>
    <button mat-raised-button color="warn" (click)="toggleSortOrder('population')">Ordina per Abitanti
      <mat-icon>{{ascending ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon></button>
  </div>
</div>
<div class="list-container">
  <app-country-card *ngFor="let country of sortedCountries" [country]="country"></app-country-card>
</div>
